.squares-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  width: min-content;
  padding: 40px 0;
  // margin: 100px auto;
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
